<!--<div id="myCarousel-2" class="carousel slide" data-smart-ride-carousel data-interval="3000">
  <div class="carousel-inner">
    <div class="item active">
      <img [src]="activeImage" alt="">
    </div>
  </div>
</div>

<div class="col-sm-12 no-padding">
  <a href="#explore">
    <button class="btn btn-primary icon-bottom" type="button">
      <i class="fa fa-arrow-down"></i> &nbsp; Explore
    </button>
  </a>
  <br /> <br />
</div>-->

<div id="explore" class="col-sm-12 no-padding banner">

  <div class="">
    <div class="col-sm-12 no-padding z-index">
      <br /><br />
      <div class="col-sm-offset-2 col-sm-8">
        <div class="col-sm-4 wow bounceIn">
          <div [routerLink]="['/results']" class="well well-sm bg-color-white txt-color-white text-center movies no-padding">
            <h5>Movies</h5>
          </div>
        </div>
        <div class="col-sm-4 wow bounceIn">
          <div [routerLink]="['/results']" class="well well-sm bg-color-white txt-color-white text-center applications no-padding">
            <h5>Applications</h5>
          </div>
        </div>
        <div class="col-sm-4 wow bounceIn">
          <div [routerLink]="['/results']" class="well well-sm bg-color-white txt-color-white text-center games no-padding">
            <h5>Games</h5>
          </div>
        </div>
        <br />
        <div class="col-sm-4 wow bounceIn">
          <div [routerLink]="['/results']" class="well well-sm bg-color-white txt-color-white text-center documents no-padding">
            <h5>Documents</h5>
          </div>
        </div>
        <div class="col-sm-4 wow bounceIn">
          <div [routerLink]="['/results']" class="well well-sm bg-color-white txt-color-white text-center tv no-padding">
            <h5>TV Series</h5>
          </div>
        </div>
        <div class="col-sm-4 wow bounceIn">
          <div [routerLink]="['/results']" class="well well-sm bg-color-white txt-color-white text-center music no-padding">
            <h5>Music</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <button (click)="isExtraCategoryVisible=true" *ngIf="!isExtraCategoryVisible" class="btn btn-primary icon-bottom" type="button">
            Show More
          </button>
        <br />
      </div>
      <div class="col-sm-offset-2 col-sm-8" *ngIf="isExtraCategoryVisible">
        <div class="col-sm-4 wow flipInY">
          <div [routerLink]="['/results']" class="well well-sm bg-color-white txt-color-white text-center tutorials no-padding">
            <h5>Tutorials</h5>
          </div>
        </div>
        <div class="col-sm-4 wow flipInY">
          <div [routerLink]="['/results']" class="well well-sm bg-color-white txt-color-white text-center sports no-padding">
            <h5>Sports</h5>
          </div>
        </div>
        <div class="col-sm-4 wow flipInY">
          <div [routerLink]="['/results']" class="well well-sm bg-color-white txt-color-white text-center photos no-padding">
            <h5>Photos</h5>
          </div>
        </div>
        <div class="col-sm-4 wow flipInY">
          <div [routerLink]="['/results']" class="well well-sm bg-color-white txt-color-white text-center videos no-padding">
            <h5>Videos</h5>
          </div>
        </div>
        <div class="col-sm-4 wow flipInY">
          <div [routerLink]="['/results']" class="well well-sm bg-color-white txt-color-white text-center mobile no-padding">
            <h5>Mobile</h5>
          </div>
        </div>
        <div class="col-sm-4 wow flipInY">
          <div [routerLink]="['/results']" class="well well-sm bg-color-white txt-color-white text-center viewall no-padding">
            <h5>View All</h5>
          </div>
        </div>
      </div>
      
      <!--<div class="col-sm-12" *ngIf="isExtraCategoryVisible">
        <div class="col-sm-4 wow bounceIn">
          <div [routerLink]="['/results']" class="well well-sm bg-color-white txt-color-white text-center tv no-padding">
            <h5>TV Series</h5>
          </div>
        </div>
        <div class="col-sm-4 wow bounceIn">
          <div [routerLink]="['/results']" class="well well-sm bg-color-white txt-color-white text-center music no-padding">
            <h5>Music</h5>
          </div>
        </div>
        <div class="col-sm-4 wow bounceIn">
          <div [routerLink]="['/results']" class="well well-sm bg-color-white txt-color-white text-center tutorials no-padding">
            <h5>Tutorials</h5>
          </div>
        </div>
        <div class="col-sm-4 wow bounceIn">
          <div [routerLink]="['/results']" class="well well-sm bg-color-white txt-color-white text-center sports no-padding">
            <h5>Sports</h5>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>
<div class="col-sm-12 no-padding banner">
  <div class="">
    <br /><br />
    <div class="col-sm-offset-2 col-sm-8 z-index">
      <p-carousel headerText="Recently Uploaded" numVisible="6" [value]="items">
        <template let-item pTemplate="item">
          <div class="ui-grid ui-grid-responsive">
            <div class="ui-grid-row">
              <div class="ui-grid-col-12"><img src="app/img/realestate/{{item.img}}.png" /></div>
            </div>
            <div class="ui-grid-row col-sm-12">
              <div class="col-sm-12 text-center item-name">{{item.name}}</div>
            </div>
          </div>
        </template>
      </p-carousel>
    </div>
  </div>
</div>