.hero {
    height: 120px;
}

.note a {
    cursor: pointer;
}

.link-btn {
    cursor: pointer;
}

.btn-register  button {
    margin: 0 10px;
}

.link-btn {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}