/********************************************************************* STYLE 2 *************************************************************/

 #shortcut {
  background-color: rgba(255, 255, 255, 0.9);
}

 #shortcut ul {
  -webkit-box-shadow: 0 4px 10px rgba(0,0,0,.3);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #A8BADB;
}

body {
  background:#fff;
}

 #header,  .page-footer,  .superbox-show {
  background-image:none;
  background-color: #2C3742;
}
 .superbox-list.active:before {
  color: #2C3742;
}

 .superbox-img-description  {
  color:#9EA8B1 !important;
}

 .project-context>:first-child {
  text-shadow:none;
}
 .project-selector {
  color: #B2C1D5;
}
 .project-selector:hover {
  color: #fff;
}

 #logo-group span#activity {
  background:none !important;
  border:none !important;
  color:#C5C6CA;
}
 #logo-group span#activity:hover {
  color:#fff;
}

 .header-search>input[type="text"] {
  background: #161B22;
  border: 1px solid #0F1217;
  color:#fff;
  border-radius:4px;
}

 .btn-header>:first-child>a,
 #hide-menu a > i {
  background:none;
  border:none !important;
  color: #C5C6CA !important;
  box-shadow:none !important;
}
 .btn-header>:first-child>a:hover,
 #hide-menu a:hover i {
  color:#fff !important;
  cursor:pointer !important;
}

 .header-search>button,
 .header-dropdown-list a.dropdown-toggle {
  color: #C5C6CA;
}

 #ribbon {
  background:#fff;
}

.fixed-ribbon #ribbon {
  border-bottom: 1px solid #E0E0E0;
}

 .btn.btn-ribbon {
  background: #9498A0;
}

 #ribbon .breadcrumb li:last-child,
 #ribbon .breadcrumb>.active,
 #ribbon .breadcrumb,
 #ribbon .breadcrumb a {
  color: #7C7C7C !important;
}

 aside {
  background: #F7F7F7;
  background: -webkit-gradient(linear,left top,right top,color-stop(99%,#F7F7F7),color-stop(100%,#CACACA));
  background: -webkit-linear-gradient(left,#F7F7F7 99%,#CACACA 100%);
  background: -webkit-gradient(linear,top left,top right,from(#F7F7F7),to(#CACACA));
  background: linear-gradient(to right,#F7F7F7 99%,#CACACA 100%);
  min-height: 100%;
}

 #left-panel {
  padding-right:15px;
  padding-left:15px;
  padding-bottom:15px;
  padding-top: 64px;
}

.menu-on-top #left-panel {
  padding-top: 49px !important;
}

 #logo-group>span .badge {
  background: #008DC4;
}

 .login-info span,
 .login-info {
  border: 0 !important;
  box-shadow:none !important;
}

 .login-info span {
  padding: 5px 10px 7px;
  background: #FFF;
  border-radius: 4px;
}

 .login-info a span {
  padding:0;
  font-size: 16px !important;
  max-width: 105px;
}

 .login-info {
  margin-bottom:7px !important;
  height:auto;
}

 .login-info a {
  font-size: 16px !important;
  color: #33455A;
  margin-top: 2px;
}

 .login-info img {
  width:35px;
}

 nav ul li a {
  color: #69737A !important;
  font-size:12px !important;
}

 nav > ul > li > a {
  padding-top:16px;
  padding-bottom:16px;
}

 nav ul ul>li:hover b {
  color: #69737A !important;
}

 nav>ul>li>a>i {
  font-size:25px !important;
}

 nav > ul > li > a b {
  top:16px;
}

 nav ul ul {
  background: none;
}

 nav ul li.open>a,
 nav ul li.open>a b,
 nav ul .active>a {
  color: #202427 !important;
  font-weight: bold;
}

 nav ul ul li>a:hover,
 nav ul li a:hover {
  color: #202427 !important;
  background:none !important;
}

 nav ul ul li>a {
  padding-left:23px;
}

 nav > ul > li > ul::before,
 nav > ul ul li::before {
  border: none !important;
}

 nav ul ul ul li a {
  padding-left:30px;
}

 nav ul ul ul ul li a {
  padding-left:40px;
}

 nav ul ul ul ul ul li a {
  padding-left:50px;
}

 nav ul ul ul ul ul ul li a {
  padding-left:60px;
}

 .jarviswidget-color-blueDark>header {

  background: #2C3742 !important;
  border-color: #2C3742!important;
}

 .btn-primary,  .smart-form .button{
  background-color: #3b9ff3;
  border-color: #3292E2;
}

 .btn-primary:hover,
 .btn-primary:focus,
 .btn-primary:active,
 .btn-primary.active,
 .open .dropdown-toggle.btn-primary {
  background-color: #3E90D4;
  border-color: #2F7DBE;
}

 .dropdown-menu>li>a:hover,
 .dropdown-menu>li>a:focus {
  background-color: #3E90D4;
}



 .btn-success {
  background-color: #96bf48;
  border-color: #84A83E;
}

 .btn-success:hover,
 .btn-success:focus,
 .btn-success:active,
 .btn-success.active,
 .open .dropdown-toggle.btn-success {
  background-color: #89AD45;
  border-color: #78973B;
}

 .btn-danger {
  background-color: #DB4A67;
  border-color: #CA4862;
}

 .btn-danger:hover,
 .btn-danger:focus,
 .btn-danger:active,
 .btn-danger.active,
 .open .dropdown-toggle.btn-danger {
  background-color: #CF4762;
  border-color: #C0455E;
}


 .btn-warning {
  background-color: #E2B14A;
  border-color: #C99D42;
}

 .btn-warning:hover,
 .btn-warning:focus,
 .btn-warning:active,
 .btn-warning.active,
 .open .dropdown-toggle.btn-warning {
  background-color: #D6A848;
  border-color: #C09844;
}

 .pagination>.active>a,
 .pagination>.active>span,
 .pagination>.active>a:hover,
 .pagination>.active>span:hover,
 .pagination>.active>a:focus,
 .pagination>.active>span:focus {
  background-color: #3b9ff3;
}

/*
 * MINIFIED
 */
.minified .login-info a {
  margin-top: 4px;
}

.minified #left-panel {
  padding:0 !important;
  padding-top: 50px !important;
}

.minified nav ul>li>a {
  padding: 12px 11px;
}

.minified nav>ul>li>ul, .minified nav>ul>li>ul>li, .minified nav>ul>li>ul>li>ul>li {
  background:#fff !important;
}

.minified nav>ul>li {
  border-bottom: 1px solid #E6E6E6;
  border-top: 1px solid #FFFFFF;
}


.minified nav>ul>li>a>i {
  font-size:18px !important;
}

.minified .login-info span {
  padding:0;
}

.minified .login-info {
  margin:0 !important;
}


.minified nav ul li.active>a:before {
  height: 23px;
  right: -19px;
  top: 7px;
  font-size: 20px;
  color: #FFFFFF;
}

/*
 * COLOR PALLET
 */
 .bg-color-red {
  background: #DB4A67 !important;
}

 .bg-color-blue {
  background: #4387bf !important;
}

 .smart-form .checkbox input:checked+i,
 .smart-form .radio input:checked+i,
 .smart-form .toggle input:checked+i {
  border-color: #3b9ff3;
}

 .smart-form .toggle i:before {
  background-color: #3b9ff3;
}

.smart-form .rating input+label:hover,
.smart-form .rating input+label:hover~label {
  color: #3b9ff3;
}

 .bg-color-greenLight {
  background-color: #89AD45 !important;
}

 .bg-color-orange {
  background-color: #D6A848 !important;
}

 .bg-color-teal {
  background-color: #5ba0a3 !important;
}

 .minifyme {
  background: #D7DAE2;
  border-bottom: 1px solid #818181;
  color: #7E7E7E;
}

  .minifyme:hover {
  color: #4E4E4E;
}

 .onoffswitch-inner:before {
  background: #3b9ff3;
  border-color: #3b9ff3 #257DC7 #2A7DC4;
}

 .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch:before {
  color: #84A83E;
}


/*
 * Style 2 Top Menu
 */

.menu-on-top .menu-item-parent {
  font-size:10px;
}

.menu-on-top #left-panel {
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

.menu-on-top nav ul ul li>a {
  text-shadow:none !important;
  color: #646E75;
}

.menu-on-top aside {
  background: inherit;
}


.menu-on-top aside#left-panel {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #B8B8B8;
  border-top: 1px solid #333;
}

.menu-on-top aside#left-panel nav > ul > li {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;

}

.menu-on-top aside#left-panel nav > ul > li:hover {
  background: #2e3e57;
  border-right-color: #fff;
  border-left-color: #fff;
}

.menu-on-top aside#left-panel nav > ul > li > a {
  text-shadow: none !important;
  font-size: 13px;
  padding: 10px 9px !important;
}


.menu-on-top nav ul ul li a {
  padding-left: 10px !important;
  font-size: 13px;
}

/* Hover state */

.menu-on-top aside#left-panel nav > ul > li:hover > a {
  color:#F1F1F1 !important;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.menu-on-top aside#left-panel nav > ul > li > ul {
  background: #2C3742;
}



/* hover state universal */

.menu-on-top nav ul ul li a,
.menu-on-top nav ul ul ul li a {
  color: #ADBED3 !important;
}

.menu-on-top nav ul ul li a:hover,
.menu-on-top nav ul ul ul li a:hover {
  color: #fff;
  background-color: #5E6C88 !important;
}

.menu-on-top nav ul ul li:hover > a {
  color: #fff !important;
  background-color: #5E6C88;
}

.menu-on-top nav > ul ul ul {
  border-top: 1px solid #c7c7c7 !important;
}

/* Hover state second level */

.menu-on-top nav ul ul,
.menu-on-top nav ul ul ul {
  background:#2e3e57 !important;
  border: 1px solid transparent;
}

.menu-on-top nav > ul ul li:hover > ul {
  background: #333;
}

/*
 * Child Arrow
 */

/* top level childs */
.menu-on-top nav > ul > li > a:after {
  color: #8AA1B3 !important;
}

/* next level childs */
.menu-on-top nav > ul > li > a:after,
.menu-on-top nav>ul ul > li a:after,
.menu-on-top nav ul ul li:hover>a:after,
.menu-on-top nav>ul ul > li a:hover:after  {
  color: #D5D5D5;
}

.menu-on-top nav ul ul li:hover>a:after,
.menu-on-top nav>ul ul > li a:hover:after {
  color: #fff;
}


/*
 * Active Child
 */

.menu-on-top nav ul ul .active > a {
  color:#fff !important;
}
.menu-on-top nav ul ul .active > a:hover,
.menu-on-top nav ul ul li.active:hover > a {
  color:#fff !important;
}
