.theme-settings-btn .btn-primary {
    width: 200px;
    margin: 10px;
}

.theme-1 {
    background-color: #900323;
}

.theme-2 {
    background-color: #CA4862;
}

.theme-3 {
    background-color: #f78c40
}

.page-footer  {
    padding-left: 15px;
    z-index: 10000
}