<aside id="left-panel">

  <nav>
    <!-- 
				NOTE: Notice the gaps after each icon usage <i></i>..
				Please note that these links work a bit different than
				traditional href="" links. See documentation for details.
				-->

    <ul style="">
      <li class="active open">
        <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-link"></i> <span class="menu-item-parent">Quick Links</span><b class="collapse-sign"><em class="fa fa-minus-square-o"></em></b></a>
        <ul style="display: block;">
          <li class="active">
            <a [routerLink]="['/searchresults']" title="Dashboard">
              <i class="fa fa-lg fa-fw fa-home"></i> &nbsp;
              <span class="menu-item-parent">Home</span></a>
          </li>
          <li class="">
            <a [routerLink]="['/upload']" title="Upload"><span class="menu-item-parent">
              <i class="fa fa-lg fa-fw fa-cloud-upload"></i> &nbsp;Upload</span></a>
          </li>
          <li class="">
            <a href="ajax/dashboard-social.html" title="Dashboard"><span class="menu-item-parent">
              <i class="fa fa-lg fa-fw fa-star"></i> &nbsp;Featured Files</span></a>
          </li>
          <li class="">
            <a href="ajax/dashboard-social.html" title="Dashboard"><span class="menu-item-parent">
              <i class="fa fa-lg fa-fw fa-file-movie-o"></i> &nbsp;Cinemana</span></a>
          </li>
          <li class="">
            <a href="ajax/dashboard-social.html" title="Dashboard"><span class="menu-item-parent">
              <i class="fa fa-lg fa-fw fa-tv"></i> &nbsp;EarthLink TV</span></a>
          </li>
          <li class="">
            <a href="ajax/dashboard-social.html" title="Dashboard"><span class="menu-item-parent">
              <i class="fa fa-lg fa-fw fa-gamepad"></i> &nbsp;Games</span></a>
          </li>
          <li class="">
            <a href="ajax/dashboard-social.html" title="Dashboard"><span class="menu-item-parent">
              <i class="fa fa-lg fa-fw fa-question"></i> &nbsp;FAQ</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>


  <span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>

</aside>