<div class="sidebar-container">
  <br />
  <input type="text" class="form-control" placeholder="Search movie, game etc..." />
  <br />
  <ul class="sidelist">
    <li class="active">
      <a [routerLink]="['/searchresults']" title="Dashboard">
        <i class="fa fa-lg fa-fw fa-home"></i> &nbsp;
        <span class="menu-item-parent">Home</span></a>
    </li>
    <li class="">
      <a [routerLink]="['/upload']" title="Upload"><span class="menu-item-parent">
              <i class="fa fa-lg fa-fw fa-cloud-upload"></i> &nbsp;Upload</span></a>
    </li>
    <li class="">
      <a href="ajax/dashboard-social.html" title="Dashboard"><span class="menu-item-parent">
              <i class="fa fa-lg fa-fw fa-star"></i> &nbsp;Featured Files</span></a>
    </li>
    <br />
    <li class="divider"></li>
    <br />
    <li class="header">Other Products</li>
    <li class="">
      <a href="ajax/dashboard-social.html" title="Dashboard"><span class="menu-item-parent">
              <i class="fa fa-lg fa-fw fa-file-movie-o"></i> &nbsp;Cinemana</span></a>
    </li>
    <li class="">
      <a href="ajax/dashboard-social.html" title="Dashboard"><span class="menu-item-parent">
              <i class="fa fa-lg fa-fw fa-tv"></i> &nbsp;EarthLink TV</span></a>
    </li>
    <li class="">
      <a href="ajax/dashboard-social.html" title="Dashboard"><span class="menu-item-parent">
              <i class="fa fa-lg fa-fw fa-gamepad"></i> &nbsp;Games</span></a>
    </li>
    <br />
    <li class="divider"></li>
    <br />
    <li class="header">Need help</li>
    <li class="">
      <a href="ajax/dashboard-social.html" title="Dashboard"><span class="menu-item-parent">
              <i class="fa fa-lg fa-fw fa-question"></i> &nbsp;FAQ</span></a>
    </li>
  </ul>
</div>